/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. You can learn more about the
NativeScript core theme at https://github.com/nativescript/theme
The imported CSS rules must precede all other types of rules.
*/

/* Place any CSS rules you want to apply on both iOS and Android here.
This is where the vast majority of your CSS code goes. */
Page {
    background-color: lightblue;
    color: black;
}

.title {
    font-size: 30;
    horizontal-align: center;
    margin: 20;
}

Button {
    padding-left: 10;
    padding-right: 10;
    font-size: 20;
    horizontal-align: center;
    color: black;
}

.ns-ios Button {
    margin: 20;
    padding: 20;
}

.message {
    font-size: 20;
    color: #284848;
    horizontal-align: center;
}
